FSQLFLY_PASSWORD=password
FSQLFLY_DB_URL=mysql://root:passwd@localhost:3306/fsqlfly
FSQLFLY_STATIC_ROOT=/var/www/fsqlfly
FSQLFLY_FLINK_BIN_DIR=/opt/flink/bin
FSQLFLY_FLINK_MAX_TERMINAL=100
FSQLFLY_DEBUG=1