FSQLFLY_PASSWORD=password
FSQLFLY_DB_URL=mysql://root:passwd@localhost:3306/fsqlfly
FSQLFLY_FLINK_BIN_DIR=/opt/flink/bin
FSQLFLY_FLINK_MAX_TERMINAL=100
FSQLFLY_DEBUG=1
FSQLFLY_WEB_PORT=8082
FSQLFLY_JOB_DAEMON_FREQUENCY=30
FSQLFLY_JOB_DAEMON_MAX_TRY_ONE_DAY=3
FSQLFLY_FINK_HOST=http://localhost:8081
FSQLFLY_JOB_LOG_DIR=/tmp/fsqlfly_job_log
FSQLFLY_UPLOAD_DIR=~/.fsqlfly_upload

FSQLFLY_MAIL_HOST=smtp.qq.com
FSQLFLY_MAIL_USER=yourqq@qq.com
FSQLFLY_MAIL_PASSWORD=yourqqsmtpassword
FSQLFLY_MAIL_RECEIVERS=other@qq.com